body {
  background-color: #141414;
  color: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.detalhe-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 25px;
  background: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(229, 9, 20, 0.4);
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.detalhe-poster {
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}

.detalhe-info {
  flex: 1;
}

.textos{
  display: flex;
  flex-direction:column;

  /* gap: 5px; */
  padding: 50px;

}

.detalhe-info h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

.detalhe-info p {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 10px;
  line-height: 1.5;
}

.btn-delete {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;

  display: block;      
  margin-left: auto;   
  margin-right: auto;   
}


.btn-delete:hover {
  background-color: #b20710;
}

@media (max-width: 768px) {
  .detalhe-container {
    flex-direction: column;
    text-align: center;
  }

  .detalhe-poster {
    width: 100%;
  }
}
