.container-login {
  min-height: 100vh;
 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card-login {
  background: #0a0a0a;
  padding: 40px 30px;
  border-radius: 15px;
  border: 1px solid #330000;
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}

.titulo-login {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  font-size: 34px;
 
}
    
.formulario-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.input-login {
  padding: 12px;
  background: #1a1a1a;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
}



.botao-entrar {
  padding: 12px;
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.botao-entrar:hover {
  background: #cc0000;
}

.botao-cadastrar {
  padding: 12px;
  background: transparent;
  color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.botao-cadastrar:hover {
  background: rgba(255, 0, 0, 0.1);
}

.mensagem-erro {
  background: rgba(255, 0, 0, 0.1);
  color: #ff6666;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
}
