.filmes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.filme-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 220px;
  text-align: center;
}
